@import "partials/mixins";

.btn {
  border: none !important;
  &-primary {
    border: none;
    @include bg(primary);
  }
  &-icon {
    border: none;
    padding: 0 !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    @include size(40px, 40px);
    img {
      width: 20px;
    }
  }
}

.badge {
  padding: 4px 8px !important;
  font-size: 0.8rem !important;
  &-primary {
    @include bg(primary);
  }
  &-error {
    background-color: var(--yellow) !important;
    color: var(--white_100);
  }
  &-success {
    background-color: var(--red) !important;
  }
  &-notice {
    background-color: var(--notice) !important;
    color: var(--white_100);
  }
}
